<ion-view view-title="Indoor" cache-view="false">
    <ion-content scroll="false">
        
        <div id="niveis">
            <ul>
                <li ng-click="mudarNivel(+1)"> + </li>
                <li> {{ pavimento.nivel }} </li>
                <li ng-click="mudarNivel(-1)"> - </li>
            </ul>
        </div>        

        <div id="mapa"></div>

        <div id="rota">
            <ul>
                <li>Origem: {{ origem.descricao }}</li>
                <li>Destino: {{ destino.descricao }}</li>
            </ul>
            <button ng-click="calcularRota()">{{ rotuloBotaoRota }}</button>
        </div>
        
    </ion-content>
</ion-view>