<ion-view view-title="Wellcome" cache-view="false">
    <ion-content scroll="false" class="welcome">
        <div class="top-content row">
            <div class="col col-top">
                <img id="logo" src="img/logo-furb.gif"/>
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-bottom">
                <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Log in with Facebook</a>
            </div>
        </div>
    </ion-content>
</ion-view>